<div class="row">
<h3>Click recipes to add to the <%= @mealplan.name %> mealplan</h3>

<h4><%= link_to "Display Completed Meal Plan", mealplan_path(mealplan_id: @mealplan.id), class: "btn btn-default" %></h4>
	<% @mylibrary.recipes.order(:name).each do |recipe| %>
  	<div class="col-md-6">
  		<%= recipe.name %>
        <%= form_tag add_to_mealplan_path do %>
        <%= hidden_field_tag :mealplan_id, @mealplan.id %>
        <%= hidden_field_tag :recipe_id, recipe.id %>
        <%= select_tag :day, options_for_select(@days.collect {|x| [x.name, x.id]}) %>
        <%= submit_tag "Add to Mealplan", class: "btn btn-default" %>
        <% end %>

  	</div>
  <% end %>