<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-md-4">
      <div class="well well-size">
        <h3 class="text-center"><%= recipe.name %></h3>
          <% if recipe.image.url != nil %>
           <p><%= image_tag recipe.image.url, width: "100", class: "text-center" %></p>
          <% end %>
       
        <p><%= link_to 'Show', recipe, class: "btn btn-default"%>   <%= link_to recipe.category, by_category_path(category: recipe.category), class: "btn btn-default" %>  </p>
        <p>
          <% if user_signed_in? %>
          <!-- if recipe is not in library, show button to add. if it is in library, show button to remove -->
            <% if recipe.library_check(current_user.id) %>
             <%= link_to "Remove from My Recipes", remove_from_library_path(recipe_id: recipe.id), class: "btn btn-default" %>
            <% else %>
              <%= link_to "Add to My Recipes", add_to_library_path(recipe_id: recipe.id), class: "btn btn-default" %>
             <% end %>
          <% end %></p>
      </div>
    </div>
  <% end %>
</div>
