<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <div class="well">
        <div>
          <h3 class="text-center"><%= @recipe.name %></h3>
          <% if @recipe.image.url != nil %>
          <p><%= image_tag @recipe.image.url, width: "200", class: "pull-right" %></p>
          <% end %>

        </div>
        <h4>Ingredients:</h4>
            <% @recipe.ingredients.each do |i| %>
              <p><%= i.amount %> <%= i.item %></p>
            <% end %>
          <h4>Directions:</h4>
          <p><%= @recipe.directions %></p>
          <p><%#= @recipe.category %></p>
          <p><%#= recipe.user_id %></p>

<%= link_to 'Back', recipes_path, class: "btn btn-default" %>
<% if @recipe.user_id == current_user.id %>
  <%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-default" %>
  <%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info" %></p>
<% end %>

      </div>
  </div>
</div>
