<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.name %>
</p>
<p>
<strong>Ingredients:</strong>
  <% @recipe.ingredients.each do |i| %>
    <%= i.amount %> <%= i.item %>
  <% end %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @recipe.directions %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recipe.category %>
</p>

<p>
  <strong>Avatar:</strong>
  <%#= @recipe.avatar %>
</p>

<p>
  <strong>User:</strong>
  <%#= @recipe.user_id %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
