<!DOCTYPE html>
<html>
<head>
  <title>What's Cooking</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%# if current_page?(root_path) %>
	<body id="index_page">
	<%# end %>
<!-- <body> -->

<nav class="navbar navbar-light white" style="background: rgba(156,213,100,0.8)">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand"> <%= link_to "Home", root_path %></p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <li><%= link_to "All Recipes", all_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">By Category <span class="caret"></span></a>
          <ul class="dropdown-menu">
          	<% @categories.each do |c| %>
          		<li><%= link_to c, by_category_path(category: c)%></li>
          	<% end %>
          </ul>
        </li>
      </ul>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
      	<% if user_signed_in? %>
        		<li><%= link_to "My Recipes", mylibrary_path(user_id: current_user.id) %></li>
        		<li><%= link_to "My Mealplans", all_mealplans_path(user_id: current_user.id) %></li>
        		<li><%= link_to "New Recipe", new_recipe_path %></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path %> 
            </li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
            	<li><%= link_to "Sign In", new_user_session_path %></li>
      		 <% end %>
       
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <% if user_signed_in? %>
  <h5 class="pull-right">Welcome, <%= current_user.username %> </h5>
  <% end %>

	<%= yield %>
</div>

</body>
</html>
